:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0a0a12;
  background-image: radial-gradient(
      circle at 10% 20%,
      rgba(20, 30, 80, 0.7) 0%,
      transparent 40%
    ),
    radial-gradient(
      circle at 90% 80%,
      rgba(10, 10, 15, 0.9) 0%,
      transparent 40%
    );

  background-repeat: no-repeat;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16rem;
  height: 100vh;
}
