.news-container {
  padding: 16px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16rem;
  background-color: #1e1e1e;
}

.alert-margin {
  margin: 16px;
  background-color: #2d2d2d;
  color: #ffffff;
}

.ant-card-bordered {
  border: 1px solid gray;
}

.news-card {
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: #2d2d2d;
  color: #ffffff;
  box-shadow: none;
}

.news-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .news-info {
    display: flex;
    align-items: center;
    gap: 8px;

    .secondary-text {
      font-size: 11px;
      color: #a1a1a1;
    }
  }

  .sentiment-tag {
    font-size: 11px;
    padding: 0 6px;
    color: black;
    border-radius: 4px;
  }
}

.news-title {
  display: flex;
  align-items: center;
  margin-top: 4px;

  .flag {
    margin-right: 6px;
    width: 6px;
    height: 6px;
  }

  .title-link {
    font-size: 15px;
    font-weight: 600;
    color: #40c4ff;
    line-height: 1.4;
    &:hover {
      color: #69d4ff;
    }
  }
}

.source-info {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1.5;
  color: #a1a1a1;

  .ant-space {
    display: flex;
    flex-wrap: wrap;
    row-gap: 4px;
  }

  .source-link {
    color: #1890ff;

    text-decoration: underline;
    &:hover {
      text-decoration: underline;
      color: #40a9ff;
    }
  }

  .flag {
    border-radius: 2px;
    object-fit: cover;
  }

  .country-text,
  .language-text,
  .author-text {
    font-size: 12px;
    color: #a1a1a1;
  }

  .anticon {
    margin-right: 4px;
    color: #a1a1a1;
  }

  .author-text {
    display: flex;
    align-items: center;
  }
}

.news-tags {
  margin-top: 6px;

  .tag {
    font-size: 10px;
    padding: 3px 10px 3px 10px;
    border-radius: 15px;
    background-color: #3c3c3c;
    color: #d1d1d1;
    border: none;
  }

  .show-all-link {
    font-size: 11px;
    color: #1890ff;
    &:hover {
      color: #40a9ff;
    }
  }
}

.news-footer {
  margin-top: 16px;

  .original-source {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    margin-bottom: 8px;

    .source-icon {
      font-size: 12px;
      color: #a1a1a1;
    }

    .duplicates-text {
      font-size: 11px;
      color: #a1a1a1;
    }
  }

  .duplicate-card {
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #0e5abd;
    border-radius: 6px;
    background-color: #2d2d2d;

    .duplicate-header {
      margin-bottom: 8px;

      .ant-space {
        display: flex;
        flex-wrap: wrap;
        row-gap: 4px;
      }
    }

    .duplicate-secondary-text {
      font-size: 11px;
      color: #a1a1a1;
    }

    .duplicate-title {
      margin-bottom: 8px;

      &-link {
        font-size: 14px;
        font-weight: 500;
        color: #40c4ff;
        line-height: 1.4;

        &:hover {
          color: #69d4ff;
        }
      }
    }

    .duplicate-source-info {
      .ant-space {
        display: flex;
        flex-wrap: wrap;
        row-gap: 4px;
      }

      &-link {
        font-size: 11px;
        color: #1890ff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          color: #40a9ff;
        }
      }

      .duplicate-flag {
        border-radius: 2px;
        object-fit: cover;
      }

      .duplicate-country-text,
      .duplicate-language-text,
      .duplicate-author-text {
        font-size: 11px;
        color: #a1a1a1;
      }

      .anticon {
        margin-right: 4px;
        color: #a1a1a1;
      }
    }
  }

  .view-duplicates-button {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #1890ff;
    background-color: #3c3c3c;
    border: 1px solid #3c3c3c;
    border-radius: 6px;
    padding: 4px 12px;
    height: 38px;

    &:hover {
      color: #40a9ff;
      background-color: #4a4a4a;
      border-color: #4a4a4a;
    }

    .view-duplicates-icon {
      font-size: 10px;
    }
  }
}
